#myCarousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 90vh;
  overflow: hidden;
}

#myCarousel .carousel-item:before{
  content:"";
  background-image: 
  linear-gradient(
    to bottom,
    transparent, rgba(0,0,0,1)
  );
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}