$primary:#911e1e;
$dark: #911e1e;

#searchListing{
  border-color: #911e1e;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font-family-base: 'Roboto', sans-serif;

.noListingsYet{
  display:none;
}